.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
  margin: 15px;
  overflow: hidden;
  position: relative;
  background: #60cbe6;
  border-radius: 0.5vw;
}
.cards-container__warning {
  width: 100%;
}
